
/* Background styles */
html{
    height: 100%;
}
body {
    height: 100%;
background-image: url(https://unsplash.com/photos/LeG68PrXA6Y);
background-repeat: no-repeat;
display: flex;
  justify-content: center;
  background-size: cover;
  align-items: center;
  }
.card button:hover{
    transform: scale(1.01);
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    inset 2px 2px 2px -1px rgba(160, 160, 160, 0.466);
}
